.module-header {
  margin-bottom: 30px !important;
}

.module-search {
  margin-bottom: 15px;
}

.module-list table {
  min-width: 800px;
}

.module-list table a {
  margin: 2px;
}

.module-pagination {
  margin-top: 20px;
}