:host {
  textarea {
    height: 100px;
  }

  .image-container {
    max-height: 200px;
    max-width: 200px;
    margin: auto;

    img {
      width: 200px;
      height: 200px;

      object-fit: contain;

      background-color: #e8e8e8;
    }
  }
}