<!-- Navigation bar -->
<header class="header">
  <!-- Logo -->
  <!-- <a href="#" class="logo">LR</a> -->
  <!-- Hamburger icon -->
  <input class="side-menu" type="checkbox" id="side-menu" />
  <label class="hamb" for="side-menu"><span class="hamb-line"></span></label>
  <!-- Menu -->
  <nav class="nav">
    <ul class="menu">
      <li><a href="#">Bundles</a></li>
      <li><a href="#">Deals</a></li>
      <li><a href="#">Holidays</a></li>
      <li><a href="#">Artists</a></li>
      <li><a href="#">Graphics</a></li>
      <li><a href="#">Photos</a></li>
      <li><a href="#">Invitations</a></li>
      <li><a href="#">Design Formats</a></li>
      <li><a href="#">Templates</a></li>
      <li><a href="#">Mockups</a></li>
      <li><a href="#">Categories</a></li>
      <li><a href="#">Fonts</a></li>
    </ul>
  </nav>
</header>
