<div class="row p-2">
  <div class="col-xs-12 col-lg-6" [formGroup]="parentForm">
    <div class="form-floating mb-2">
      <input
        type="text"
        placeholder="Store Name"
        id="storeName"
        name="storeName"
        formControlName="storeName"
        [ngClass]="[
          'form-control',
          validateForm && parentForm.controls.storeName.errors
            ? 'is-invalid'
            : ''
        ]"
      />
      <label for="storeName">Store Name</label>
      <!-- Validation -->
      <app-alert-validation
        *ngIf="validateForm"
        [data]="parentForm.controls.storeName"
      ></app-alert-validation>
    </div>
    <div class="form-floating mb-2">
      <input
        type="text"
        placeholder="Store Contact Telephone"
        id="storePhone"
        name="storePhone"
        formControlName="storePhone"
        [ngClass]="[
          'form-control',
          validateForm && parentForm.controls.storePhone.errors
            ? 'is-invalid'
            : ''
        ]"
      />
      <label for="storePhone">Store Contact Telephone</label>
      <!-- Validation -->
      <app-alert-validation
        *ngIf="validateForm"
        [data]="parentForm.controls.storePhone"
      ></app-alert-validation>
    </div>
    <div class="form-floating mb-2">
      <select
        id="storeCountry"
        name="storeCountry"
        formControlName="storeCountry"
        [ngClass]="[
          'form-select',
          validateForm && parentForm.controls.storeCountry.errors
            ? 'is-invalid'
            : ''
        ]"
      >
        <option value="">Select a country</option>
        <option *ngFor="let country of countriesList" [ngValue]="country.code">
          {{ country.name }}
        </option>
      </select>
      <label for="storeCountry" class="form-label">Store Country</label>
      <!-- Validation -->
      <app-alert-validation
        *ngIf="validateForm"
        [data]="parentForm.controls.storeCountry"
      ></app-alert-validation>
    </div>
    <div class="form-floating mb-2">
      <textarea
        placeholder="Store Contact Address"
        id="storeAddress"
        name="storeAddress"
        formControlName="storeAddress"
        [ngClass]="[
          'form-control',
          validateForm && parentForm.controls.storeAddress.errors
            ? 'is-invalid'
            : ''
        ]"
      ></textarea>
      <label for="storeAddress">Store Contact Address</label>
    </div>
  </div>
</div>
