<div class="list-trending-bundles">
    <div class="title">Trending Bundles</div>
    <app-product-card [productCartInformation]="productCartInformation" class="product-card"></app-product-card>
    <app-product-card class="product-card"></app-product-card>
    <app-product-card class="product-card"></app-product-card>
    <app-product-card class="product-card"></app-product-card>
    <app-product-card class="product-card"></app-product-card>
    <app-product-card class="product-card"></app-product-card>
    <app-product-card class="product-card"></app-product-card>
    <app-product-card class="product-card"></app-product-card>
</div>
